In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('weight-height.csv')

In [3]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df['Gender']=le.fit_transform(df['Gender'])

In [7]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [8]:
inp=df[['Height','Weight']]
out=df['Gender']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(inp,out,test_size=0.2)

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
knn=KNeighborsClassifier(n_neighbors=15)

In [13]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=15)

In [14]:
out_p=knn.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [18]:
confusion_matrix(y_test,out_p)

array([[940,  83],
       [ 90, 887]], dtype=int64)

In [19]:
accuracy_score(y_test,out_p)

0.9135