# Unsupervised Learning

**1**.In this only data is given labels(target) is not known.

**2**.Grouping of similar items is done by their features(clustering)

## K-Means

**1.** Random centroids are choosen(k centroids)

**2.** Converts datapoints to clustures based on random centroids(K clusters)

**3.** Now the new centroids are calculated fot the clusters

**4.** Based on new centroids further clusters are changed

**5.** These four steps are continued until no points change the cluster

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
df=pd.read_csv('Countries.csv')

In [4]:
df

             name   Longitude   Latitude
0           Aruba  -69.982677  12.520880
1     Afghanistan   66.004734  33.835231
2          Angola   17.537368 -12.293361
3        Anguilla  -63.064989  18.223959
4         Albania   20.049834  41.142450
..            ...         ...        ...
236         Samoa -172.164851 -13.753243
237         Yemen   47.586762  15.909280
238  South Africa   25.083901 -29.000341
239        Zambia   27.774759 -13.458242
240      Zimbabwe   29.851441 -19.004204

[241 rows x 3 columns]

In [5]:
inp=df.drop('name',axis=1)

In [6]:
inp.head()

   Longitude   Latitude
0 -69.982677  12.520880
1  66.004734  33.835231
2  17.537368 -12.293361
3 -63.064989  18.223959
4  20.049834  41.142450

In [7]:
from sklearn.cluster import KMeans

In [9]:
km=KMeans(3)

In [11]:
km.fit(inp)#since it is unsupervised only input is given targets are framed from them

KMeans(n_clusters=3)

In [13]:
out=km.fit_predict(inp)
out

array([2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 0, 0, 2, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0, 0, 1, 1, 1, 2, 0, 1, 1,
       1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 0, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       0, 2, 0, 0, 2, 1, 2, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       0, 0, 1, 1, 1, 0, 2, 2, 0, 1, 1, 0, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1,
       0, 2, 1, 1, 1, 1, 0, 2, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 2, 1, 1, 0,
       1, 0, 1, 0, 1, 2, 2, 1, 1, 0, 0, 0, 1, 1, 2, 2, 2, 0, 0, 0, 1, 2,
       0, 1, 2, 1, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 2, 1, 0, 1, 2, 1, 1,
       1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 0, 1, 1, 0, 2, 2, 1,
       1, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 0, 0, 2, 2, 1, 1, 1, 1])